{% extends "mainApp/index.html" %}
{% block title %}О нас | The Nikita{% endblock %}
{% block content %}

<div class="about-px">
   <div class="about shadow-lg">
      The Nikita — это электронная блог открытого доступа, основными задачами которой является популяризация науки и научной деятельности, общественный контроль качества научных публикаций, развитие междисциплинарных исследований, современного института научной рецензии, повышение цитируемости российской науки и построение инфраструктуры знаний. The Nikita строится на основе парадигмы открытой науки.
   </div>
</div>

{% endblock %}