{% extends "mainApp/index.html" %}
{% block title %}Полезные ресурсы | The Nikita{% endblock %}
{% block content %}

<div class="useres-px">
   <div class="useres">
      <div class="useres-b"><a href="https://www.tesla.com/" target="_blank"><img src="/static/img/ilan.jpg"></a><h4>Tesla</h4></div>
      <div class="useres-b"><a href="https://www.apple.com/ru/" target="_blank"><img src="/static/img/apple.jpg"></a><h4>Apple</h4></div>
      <div class="useres-b"><a href="https://nuancesprog-ru.turbopages.org/nuancesprog.ru/s/p/7557/" target="_blank"><img src="/static/img/quantum-computer.jpg"></a><h4>Квантовые вычисления</h4></div>
   </div>
</div>

{% endblock %}